<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scan QR Code</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  
  <%- include('partials/header') %>
  <h1>Scan QR Code</h1>

  <!-- Container for the QR code scanner -->
  <div id="qrScanner"></div>

  <!-- File input for uploading QR code image -->
  <p id="statusMessage"></p>

  <%- include('partials/footer') %>
  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="/js/script.js"></script>
</body>

</html>