<header>
  <nav>
    <ul style="display: flex; gap: 10px; justify-content: center;">
      <li><a id="adminLink" href="/">Admin</a></li>
      <li><a id="scanLink" href="/scan">Scan</a></li>
      <li><a id="staffLink" href="/staff">Staff</a></li>
      <li><a id="logout" href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
</header>